<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card.css') }}">

    {% if title %}
      <title>BURNOUT - {{ title }}</title>
    {% else %}
      <title>BURNOUT</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md fixed-top nav-color">
<!--        <div class="container">-->
          <div class="collapse navbar-collapse " id="navbarToggle">
            <!-- Navbar Right Side -->
            {% if not session.get("email"): %}
            <div class="navbar-nav">
            <a class="navbar-brand" href="{{url_for('login')}}">
                <img src="../static/img/logo1.png"> </a>
<!--              <a class="nav-item nav-link" href="{{ url_for('login') }}" id="login">Login</a>-->
<!--              <a class="nav-item nav-link " href="{{ url_for('register') }}">Register</a>-->
            </div>

          <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link top-right" href="{{ url_for('login') }}" id="login">Login</a>
              <a class="nav-item nav-link " href="{{ url_for('register') }}">Register</a>
            </div>
            {% else %}
            <ul class="navbar-nav d-lg-flex align-items-center">
                         {% if not session.get("email") %}
                <li class = "nav-item">
            <!--<a class="navbar-brand mr-4 text-white" href="{{url_for('login')}}">BURNOUT</a>-->
            <a class="navbar-brand" href="{{url_for('login')}}">
                <img src="../static/img/logo1.png">
            </a>
                </li>>
          {% else %}
            <!--<a class="navbar-brand mr-4 text-white" href="{{url_for('dashboard')}}">BURNOUT</a>-->
                <li class = "nav-item">
            <a class="navbar-brand" href="{{url_for('dashboard')}}">
                <img src="../static/img/logo1.png">
            </a>
                </li>
          {% endif %}
                <li class = "nav-item">
              <a class="nav-link" href="{{ url_for('calories') }}">Enter Calories</a>
                </li>
                <li class = "nav-item">
              <a class="nav-link" href="{{ url_for('history') }}">History</a>
                    </li>
                 <li class = "nav-item">
              <a class="nav-item nav-link" href="{{url_for('friends')}}">Friends</a>
                 </li>
                <li class = "nav-item">
              <div class="nav-item dropdown position-relative">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Me
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="{{ url_for('profile') }}">My Profile</a>
                    <a class="dropdown-item" href="{{ url_for('my_enrolled_workouts') }}">My Enrolled Workouts</a>
                </div>
              </div>
                </li>
            </ul>
            </div>
            <div class="navbar-nav ml-auto">
              <a class="top-right nav-item nav-link">Welcome, {{ session.get("username") }}</a>
              <button class="nav-item nav-link btn btn-link" onclick="logout()">Log Out</button>
            </div>
            {% endif %}
<!--          </div>-->
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="w-100 py-0 flex-shrink-0 nav-color fixed">
        <div class="container py-1">
            <div class="row gy-5 gx-5 text-center">
                <img style="width: 30%; height: 30%" class="center-block" src="../static/img/logo1.png">
                <p class="m-0 p-0 text-muted">&copy; NCSU CSC510 23Fall Group74 Copyrights. All rights reserved 2023.</p>
            </div>
            <hr class="m-1 p-0"/>
            <div class="row gy-5 gx-5 justify-content-center">
                <img style="width: 6%; height: 6%" class="col-md-4 image-container1" src="../static/img/githublogo.png">
                 <a class="col-md-4 text-decoration-none text-muted" href="https://github.com/aditicsalunkhe/Group74-CalorieApp_Server">Visit Our Repo</a>
                <img style="width: 6%; height: 6%" class="col-md-4 image-container2" src="../static/img/discordlogo.png">
                 <a class="col-md-4 text-decoration-none text-muted" href="https://discord.com/channels/1146499984032813107/1152700445723197521">Join Our Channel</a>
            </div>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
    intent="WELCOME"
    chat-title="BurnBot"
    agent-id="49437a24-4e37-4774-a720-95be1ffa0142"
    language-code="en"
    ></df-messenger>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>